user_uploads/
dist/
build/
designs/
examples/
__tests__/
*.md
.git/
node_modules/
style-map.json
.expo/
.fastshot-logs/
.meta/
inspector-overlay.js
serve-expo.js
babel-plugin-source-metadata.js
.fastshot.babel.user.config.js
npm-debug.*
bun-debug.*
yarn-debug.*
yarn-error.*
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
.DS_Store
.vscode/
web-build/
.kotlin/
*.tsbuildinfo
.metro-health-check*
